version: '3'

services:
  postgres:
    image: postgres:14-alpine
    restart: always
    ports:
      - 5432:5432
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    networks:
        - postgres-db-network
    env_file:
      - path: ./.env
        required: false
    environment:
      - TZ=Europe/Amsterdam

  alembic-db-upgrade:
    build: .
    command: alembic upgrade head
    depends_on:
      - postgres
    networks: 
      - postgres-db-network
    env_file:
      - path: ./.env
        required: false
    environment:
      - TZ=Europe/Amsterdam

  radio-service:
    build: .
    restart: always
    command: python main.py
    depends_on:
      postgres:
        condition: service_started
      alembic-db-upgrade:
        condition: service_completed_successfully
    networks:
      - postgres-db-network
    env_file:
      - path: ./.env
        required: false
    environment:
      - TZ=Europe/Amsterdam

volumes:
    postgres-db-volume:
networks:
    postgres-db-network:
        driver: bridge

