[Unit]
Description=Docker Compose Service for Radio Playlist
After=docker.service
Requires=docker.service

[Service]
# do not forget to build first
ExecStart=/usr/bin/docker compose -f /root/radio-playlist/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /root/radio-playlist/docker-compose.yml down
WorkingDirectory=/root/radio-playlist

[Install]
WantedBy=default.target